

body
{
    background:url();
    background-size: cover;
    margin: 0px;
        padding: 0px;
        color: black;
}
  
header 
{
    font-size: 300%;
    font-weight: bold;
    background-color: #9e9e9e;
    color: #581616;
    padding: 15px;
    width: 100%;
}
 header * 
 {
        vertical-align: middle;
        margin-right: 40px;
 }
/* Links */
a:link
{
  font-weight: bold;
  color: #581616;
}
a:visited
{
  font-weight: italic;
  color: #9e9e9e;
  width: 100%;
  padding:4px;
}
a:hover, a:active
{
  color: #581616;
  background-color: #9e9e9e;
}

{

}

div.thumbnail
{
	
  opacity:0.95;
  padding: 15px;
  
  text-align: center;

  
}
div.thumbnail img
{
  display: inline;
  float: left;
  width: 200px;
  margin: 5px;
}
div.desc
{
  
  text-align: center;
  width: 200px;
}
div.error
{
  visibility: hidden;
}
div.topTail img
{
  width: 80%;
  float: center;
  padding-left : 10%;
  padding-right : 10%;
}

      
    main
    {
      background-color: #EBE6E6;
      padding: 10px 10px 50px 30px;
    }
    img.main
    { 
      
    }
    p.main
    {
      padding:10px;
    }

      nav,
      footer {
        background-color: #DCD2D2;
        padding: 15px;
        width:100%;

      }
      priv_link
      {
        text-align: right;
      }


      footer * {
        vertical-align: middle;
        background-image: <url('images/header.png');
      }

    
<!--
@media only screen and (device-width:768px) and (orientation: landscape)
{

}

@media only screen and (min-device-width:320px) and (max-device-width: 480px)
{

}
