

body
{
    background:url();
    background-size: cover;
    margin: 0px;
        padding: 0px;
        color: black;
}
  
header 
{
    font-size: 300%;
    font-weight: bold;
    background-color: #9e9e9e;
    color: brown;
    padding: 10px;
}
 header * 
 {
        vertical-align: middle;
        margin-right: 40px;
 }

#thumbnail
{
	
  opacity:0.9;
}

      
main
{
        background-color: #FF11CC
        padding: 10px 10px 50px 30px;
}

      nav,
      footer {
        background-color: rgb(220,210,210);
        padding: 10px;
      }

      footer * {
        vertical-align: middle;
      }

    
<!--
@media only screen and (device-width:768px) and (orientation: landscape)
{

}

@media only screen and (min-device-width:320px) and (max-device-width: 480px)
{

}
